*{
    margin: 0%;
    padding: 0%;
    font-variant:small-caps;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
body{
    background-image: url(../images/collectionbg.jpg);
    background-size:cover;
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
/* header ************************************************************************************************* */

.navbar{
    position: fixed;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items: center;
    padding:20px ;
    font-weight: bold;
    z-index: 1;
   
   }
   .navbar a{
       color: white;
       padding: 8px;
       margin: 10px;
       margin-inline:30px ;
       border-radius:2px;
   }
   
   #home:hover,#collection:hover,#accessories:hover,#contact:hover{
      background-color: white;
      color: black;
       transition: 0.5s;
    }
    #logo{
       position: fixed;
       left:10px;
   
    }
   .navbar li{
       display: inline-block;
   }
    #boxhead{
       height:58px;
   
    }
   
    .box{
       cursor: pointer;
       color: white;
       display: flex;
       justify-content:flex-end;
       padding: 10px;
       width:20vh ;
       font-size: 5vh;
       position: absolute;
       right: 40px;
   
   
    
    }
    .cart-count{
     position: fixed;
     top:13px;
     right:38px;
     font-size:28px;
     font-variant: small-caps;
   
   
    }
   #cart-icon{
       position: fixed;
       top:12px;
       right:65px;
       font-size:35px;
   
   }
    .cart{
       position: fixed;
       top: 0;
       right: -100%;
       width: 400px;
       height: 100vh;
       overflow-y: auto;
       overflow-x:hidden;
       padding:20px;
       background-color: white;
       box-shadow: 0 1px 4px rgb(40, 37, 37,0.1);
   
   
    }
    .cart-active{
       right: 0;
       transition: 0.5s;
    }
    .cart-tittle{
   
       font-variant: small-caps;
       font-weight: bold;
       font-size: 3vh;
       text-align: center;
       margin-bottom: 20px;
       border-bottom: 1px solid rgba(0,0,0,0.2);
       padding-bottom: 10px;
   
    }
    .cart-img{
       margin-top: 10px;
       width: 10em;
       border-radius:8px;
       margin: 2px;
       margin-bottom: 25px;
       box-shadow:6px  10px rgb(0, 0, 0,0.4);
       border: 1px solid black;
   
    
    }
    .cart-box{
   
       display: grid;
       grid-template-columns: 50% 40% 4%;
       align-items: center;
       gap:10px;
       margin-bottom: 2px;
       margin-top: 10px;
       border-bottom: 1px solid rgba(0,0,0,0.2);
      
   }
   .cart-keyboard-tittle{
       margin-bottom: 15px;
       text-align: center;
       font-weight: bold;
   }
   .price-box{
       display:inline-flex;
       justify-content: space-between;
       
   }
   
   .cart-price{
       margin-bottom:1vw;
       font-weight: bold;
   }
   .cart-amt{
       margin-left:2.5vw;
   }
   .cart-remove{
       cursor: pointer;
       color: red;
      
   }
   .cart-quantity{
       border: 1px solid rgba(0, 0, 0.1);
       outline: none;
       width: 2.5rem;
       text-align:center; 
       padding: 2px;
       font-size: 14px;
   }
   .total{
       display: flex;
       justify-content: flex-end;
       margin-top:4vh;
   }
   .total-tittle{
       font-size: 1rem;
       font-weight: 600;
   
   }
   .total-price{
       margin-left: 0.5rem;
   }
   .btn-buy{
    
       cursor: pointer;
       border: none;
       color: white;
       background-color: black;
       position: relative;
       bottom: 30px;
       right:30px;
       width:11.5vw;
       font-size:1vw;
       padding:10px;
   }
   #cart-close{
   cursor: pointer;
   position: absolute;
   font-size:2.5vw;
   top: 14px;
   right: 15px;
   
   }
   
   
     /* js************************ */


    
 /* section 1 ********************************************************************************************** */
#section1{
color: white;
font-size:10px;
}
.main-heading{
    margin-top: 40px;
    text-align: center;
    font-size:3em;
}   

/* section 2  ************************************************************************************************* */

#section2{
 margin-top: 10px;
 font-size:10px;

}

.keyboard-img_container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow:wrap;

}
.keyboard-img_box{
    margin:4vw;
    text-align: center;

}

.keyboard-img{
    max-width:15vw;
    min-width:120px;
    border-radius:5px;

}


/* js******************** */
figcaption{
   font-weight: bold;
   margin-bottom: 5px;
   color: white;
   font-size:2.2em;
   

}
/* js******************** */
.keyboard-price_container{
    display: flex;
    justify-content: center;
}
.img-cart{
    margin-top: 4px;
    font-size: 20px;
    text-align: center;
    color: white;

}
.keyboard-price{
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}
.add-cart{
    cursor: pointer;
    margin: 10px;
}
/* js******************** */

/* Section 3 **************************************************************************************** */
#section3{
    margin-top: 5em;
    background-color: black;

}

#section3img{
    width: 100%;


}
 /* FOOTER SECTION ************************************************************************************ */

footer{   
    background-color: #6b0306;
    padding:35px;
    text-align: center;
    font-size:10px;
}
#footerhead{
    color: white;
    padding: 10px;
    margin-bottom:8vh;
    word-spacing: 4px;
    font-size:2.5em;
}

#email{
     border: none;
     border-radius: 5px;
     padding: 1.2em;
     min-width:30vw;
     max-width: 200px;

}

button{
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
    font-variant: small-caps;
}
button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;   
}
.joinbtn{
    margin-left: 2px;
    border: none;
    background-color:black ;
    color: white;
    font-weight: bold;
    font-size:1.6em;
    padding:1em;
    border-radius: 5px;

}
.joinbtn:hover{
 background-color: white;
 color: black;
 transition: 0.5s;
}
/* Icon **************************************************************** */
.icon-box{
    display:flex;
    justify-content:center;
    align-items:center;
}
#icon1,#icon2,#icon3,#icon4{
    margin: 30px 25px 0px 25px;
    border-radius: 50%; 
    background-color: white;
    min-width:5px;
    max-width:40px ;
    border:1px solid white;

}

.menu{
    position: absolute;
    top:22px;
    left:25px;
    cursor: pointer;
    display:none;
}
.menu-line{
 height: 2px;
 width:20px;
 border-radius:50px;
 background-color: white;
 margin-bottom: 5px;

}
                   /* starting media query */


                        /* **************************** *\
                                #MEDIA  MAX-900PX 
                        \* **************************** */
        
        @media (max-width:900px){
            
            /* navigation  responsive start  */
        
                    #logo{
                    position: relative;
                    left: 0px;
                    right: 0px;
                    word-spacing:5px;
                    letter-spacing: 3px;
                    font-weight: bold;
                    font-size: 20px;
                    }
                    
                    .navbar{
                        flex-direction:column ;
                        align-items: center;
                        font-size: 20px;
                        padding: 0px 20px 0px 20px;
                      
                      
                       
                    }
         
                    .navbar li{
                        display: block;
                        padding:20px;
                        text-align: center;
                       
                    }
                    ul{
                        display: none;
                       
                    }
        
                    /* js auto add  class */
                 .showmenu{
                      display: block;
          
                 }      
                .menu{
                    display: block;
                   
                }
                    /* js auto add  class */
        
          #cart-icon{
            position: fixed;
            top:16px;
            right:35px;
           font-size:30px;
        }
        .cart-count{
            position: fixed;
            top:18px;
            right:14px;
            font-size:22px;
        
          
           }
        
           /* cart items */
        
           .cart{
           width:40vw;
           padding:20px 20px 20px 20px;
        
        
           }
        .cart-tittle{
           font-size:2.5vw;
        }
        .cart-img{
            width: 15vw;
        }
        .cart-keyboard-tittle{
            font-size: 2vw;
        }
        .cart-price,.cart-amt{
            font-size:2vw;
           
        }
        .cart-amt{
            margin-left:1.5vw;
            margin-right:1.5vw;
        }
        
        .cart-quantity{   
            font-size:1vw;
            font-weight: bold;
            width:4vw;
        }
        .cart-remove{
            margin-top:1vw;
            font-size: 2vw; 
        }
        .total-price,.total-tittle{
            font-size: 2vw;
        
        }
        .detail-box{
            margin-bottom: 10px;
        
        }
              /*  End cart items */
        
                /*End  navigation   */
        
            
              
                        /* footer***********  */
                
                    #footerhead{
                        font-size:1.8em;
                    }
                
                
                /* End footer */
        }
        
        
        
                            /* **************************** *\
                                    #MEDIA  MAX-850PX 
                            \* **************************** */
        
        @media (max-width:850px) {
            
            /* sections responsive       */
        
           #section3{
              margin-top: 25vh;
           }
           /* End sections responsive       */

           /* cart_items */

           .btn-buy{
            margin-top:1vh;
            
        }
        
        /*  End cart_items */
        
          }
           
                            /* **************************** *\
                                    #MEDIA  MAX-500PX 
                            \* **************************** */
        
          
          @media (max-width:500px){
        
            /* cart_items *********** */
            .cart-remove{
             position: relative;
              bottom:3px;
                font-size: 2vw;
            }
            .cart{
             padding:3.5w;
            }
         .detail-box{
            margin-bottom: 10px;
         }
         .btn-buy{
            margin-top:1.5vh;
        
           
        
          }
              /* End cart_items   */
        
        
        
        /* footer  */
            #footerhead{
                font-size:1.5em;
            }
        
        /* End footer */
        }

        @media (max-width:475px){
            .keyboard-img_box{
                margin:6vw;
            }

        }
        
        /* **************************** *\
                #MEDIA  MAX-360PX 
        \* **************************** */
           
        
        /* cart items  */
            @media (max-width:360px){
          
            .cart{
                padding: 20px 25px 20px 10px;
            }
          .btn-buy{
            margin-top:2vh;
            font-size:2vw;
            padding:5px;
            width:10vw;
        
          }
          /* end cart items  */
        
        /* footer */
        
        #footerhead{
            margin-bottom: 4vh;
        }
        
        #email{
         
            padding:0.8em;
        }
        
        .joinbtn{
            padding: 0.6em;
        }
        /* End footer */
        
        /* icons */
        #icon1,#icon2,#icon3,#icon4{
        
        margin: 30px 14px 0px 14px;
        
        }
        
        
        }
        
             