*{
    margin: 0%;
    padding: 0%;
    font-variant:small-caps;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-image: url(../images/accessoriesbg.jpg);
    background-size:cover;
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* header ************************************************************************************************* */

.navbar{
    position: fixed;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items: center;
    padding:20px ;
    font-weight: bold;
    z-index: 1;
   
   }
   .navbar a{
       color: white;
       padding: 8px;
       margin:10px;
       margin-inline:30px ;
       border-radius:2px;
   }
   
   
   #home:hover,#collection:hover,#accessories:hover,#contact:hover{
       background-color: white;
       color: black;
       transition: 0.5s;
    }
   
    #logo{
       position: fixed;
       left:10px;
     

   
    }
   .navbar li{
       display: inline-block;
     
   }
    #boxhead{
       height:58px;
   
    }
    
 .cart-count{
    position: fixed;
    top:13px;
    right:38px;
    font-size:28px;
    font-variant: small-caps;
  
  
   }
  #cart-icon,.box{
      color: white;
      position: fixed;
      top:12px;
      right:65px;
      font-size:35px;
  
  }
  .cart{
    position: fixed;
    top: 0;
    right: -100%;
    width:400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x:hidden;
    padding:20px;
    background-color: white;
    /* color: white; */
    box-shadow: 0 1px 4px rgb(40, 37, 37,0.1);
    font-size: 10px;


 }
 .cart-active{
    right: 0;
    transition: 0.5s;
 }
 .cart-tittle{
    font-variant: small-caps;
    font-weight: bold;
    font-size:2.5em;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px;

 }
  .cart-box{
    display: grid;
    grid-template-columns: 50% 38% 4%;
    align-items: center;
    gap:10px;
    margin-bottom: 2px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2); 

}

 .cart-img{
    margin-top: 10px;
    max-width:160px;
    min-width:9em;
    border-radius:5px;
    margin:2px;
    margin-bottom: 25px;
    box-shadow:6px  10px rgb(0, 0, 0,0.4);
 
 }

.cart-keyboard-tittle{
    margin-bottom:15px;
    text-align: center;
    font-weight: bold;
    font-size:1.5em;
}
.price-box{
    display:inline-flex;
    justify-content: space-between; 
}

.cart-price{
    margin-bottom:1vw;
    font-weight: bold;
    font-size:1.5em;
}
.cart-amt{
    margin-left:2.5vw;
    font-size:1.5em;
}
.cart-remove{
    cursor: pointer;
    color: red;
    font-size:1.5em;
    
   
}
.cart-quantity{
    border: 1px solid rgba(0, 0, 0.1);
    outline: none;
    width: 2.5rem;
    text-align:center; 
    padding: 2px;
    font-size: 14px;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top:4vh;
    font-size:1.5em;
}
.total-tittle{
    font-size:1em;

}
.total-price{
    margin-left:1em;
}
.btn-buy{
 
     position: relative;
    cursor: pointer;
    border: none;
    color: white;
    background-color: black;
    bottom:25px;
    right:30px; 
    padding:8px;
   
}

#cart-close{
cursor: pointer;
position: absolute;
font-size:3em;
top:28px;
right: 15px;

}
  
    
      /* js************************ */
 
 /* section 1 ********************************************************************************************** */
 .section1{
    color: white;
    font-size: 10px;
    
    }

.main-heading{
    margin-top: 40px;
    text-align: center;
    font-size:3em;
    
    }   
    /* section 2 ********************************************************************************************** */
    .section2{
        margin-top: 10px;
        font-size:10px;
       }

    .keyboard-img_container{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-flow:wrap;
    
    }
    .keyboard-img_box{
        margin: 4vw;
        text-align: center;

    }
 .keyboard-img{
    max-width:15vw;
    min-width:120px;
    border-radius:5px;

  
    }
    /* js******************** */
.keyboard-tittle{
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    color: white;
    font-size:2em;
   

}
/* js******************** */
.keyboard-price_container{
    display: flex;
    justify-content: center;
}
.keyboard-price{
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
}
.img-cart{
    margin-top: 4px;
    font-size: 20px;
    text-align: center;
    color: white;

    

}
.add-cart{

    cursor: pointer;
    margin: 10px;
}
/* js******************** */

    


    /* Section 3 **************************************************************************************** */
#section3{
    margin-top: 5em;
    background-color: black;

}

#section3img{
    width: 100%;


}
/* FOOTER SECTION ************************************************************************************ */

footer{   
    background-color: #6b0306;
    padding:35px;
    text-align: center;
    font-size:10px;
}

#footerhead{
    color: white;
    padding: 10px;
    margin-bottom:8vh;
    word-spacing: 4px;
    font-size:2.5em;
}

#email{
    border: none;
    border-radius: 5px;
    padding: 1.2em;
    min-width:30vw;
    max-width: 200px;   
}

button{
    border: none;
    border-radius:2px;
    background-color: white;
    padding: 12px;
    width:8em;
    font-size:1.5em;
    font-weight: bold;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;   
}

.joinbtn{
    margin-left: 2px;
    border: none;
    background-color:black ;
    color: white;
    font-weight: bold;
    font-size:1.6em;
    padding:1em;
    width:5em;
    border-radius: 5px;

}

.joinbtn:hover{
 background-color: white;
 color: black;
 transition: 0.5s;
}
/* Icon **************************************************************** */

.icon-box{
    display:flex;
    justify-content:center;
    align-items:center;
}

#icon1,#icon2,#icon3,#icon4{
    margin: 30px 25px 0px 25px;
    border-radius: 50%; 
    background-color: white;
    min-width:5px;
    max-width:40px ;
    border:1px solid white;

}

.menu{
    position: absolute;
    top:22px;
    left:25px;
    cursor: pointer;
    display:none;
}
.menu-line{
 height: 2px;
 width:20px;
 border-radius:50px;
 background-color: white;
 margin-bottom: 5px;
}

                /* starting media query */


            /* **************************** *\
                    #MEDIA  MAX-900PX 
            \* **************************** */
        
@media (max-width:900px){

            /* navigation  responsive start  */
    
#logo{
    position: relative;
    left: 0px;
    right: 0px;
    word-spacing:5px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.navbar{
    flex-direction:column ;
    align-items: center;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
}

.navbar li{
    display: block;
    padding:20px;
    text-align: center;
} 

ul{
    display: none;
}
            /* js auto add  class */
.showmenu{
     display: block;
}     

.menu{
    display: block;
}

            /* js auto add  class */
            
#cart-icon{
    position: fixed;
    top:16px;
    right:35px;
    font-size:30px;
}
.cart-count{
    position: fixed;
    top:18px;
    right:14px;
    font-size:22px;
 }

       
           /* cart items */
           .cart{
            width:40vw;
            font-size:10px
        }
        .cart-tittle{
           font-size:2em;
        }
        .cart-remove{
            font-size:1.6em;
        }
        .cart-img{
            width:16vw;
        
        }
        .cart-keyboard-tittle{
            font-size:1.8em;
            margin-bottom:0.5em;
        }
        .cart-price,.cart-amt{
            font-size:1.5em;
           
        }
        .cart-remove{
            margin-top:1.4em;
        }
        
    
              /*  End cart items */
                        
            /*End  navigation   */

.main-heading{
    font-size: 2.5em;
}
.keyboard-tittle{
    font-size:1.5em;
}
.keyboard-price{
    font-size:1.2em;
}
.img-cart{
    font-size:1.4em;
}
       
            /* Footer */

#footerhead{
    font-size:1.8em;
}
  
            /* End footer */
}
                            
            /* **************************** *\
                    #MEDIA  MAX-850PX 
            \* **************************** */
                    
@media (max-width:850px) {

            /* sections responsive       */

#section3{
    margin-top: 25vh;
}

            /* End sections responsive       */

    /* cart_items */

    .cart{
        width:48vw;
        }
        .cart-img{
           width:20vw;
        }
    
    /*  End cart_items */

            /*  End cart_items */

}
                    /* **************************** *\
                            #MEDIA  MAX-650PX 
                    \* **************************** */


                    @media(max-width:650px){
                        .cart{
                            width:60vw;
                        }
                    
                    
                      }
                                
                        
                                            
                                            
            /* **************************** *\
                    #MEDIA  MAX-500PX 
            \* **************************** */

@media (max-width:500px){
        /* section 1 index page */
        /* navigation  */
.navbar li{
    font-size:0.7em;
    padding: 1em;
}        
/* End navigation  */

.shop-button__box{
    position: relative;
    top:52%;
    left:12%;

}
        /* End section 1 index page */
    
 /* cart items */
 .cart-box{
    display: grid;
    grid-template-columns:45% 40% 10%;
    grid-template-rows:120px;
    place-items: center;
    gap:5px;

  
}
.cart{
width:65vw;
padding:10px;

}
.cart-tittle{
font-size: 1.6em;

}
.cart-keyboard-tittle{
font-size:1.6em;
}
#cart-close{
font-size:2.5em;
top:16px;
}

  /* End cart_items  */ 

.main-heading{
    font-size:2em;
}

            /* footer  */
#footerhead{
    font-size:1.5em;
}

            /* End footer */
}
  /* **************************** *\
                #MEDIA  MAX-400PX 
        \* **************************** */
        @media(max-width:400px){
            .cart-box{
                display: grid;
                grid-template-columns: 50% 40% 6%;
                grid-template-rows:95px;
            }
            .cart{
                padding:10px
            }
            
            .cart-keyboard-tittle{
                font-size:1.4em;
            }
            .cart-amt,.cart-price{
                font-size:1.2em;
            }
            .cart-remove{
            font-size:1.2em;
            }
            .total{
                margin-top:40px;
            }
            .detail-box{
                margin-bottom:0px;
            
            }
            .btn-buy{
                font-size:1.2em;
            }
            .total-tittle{
                font-size:0.8em;
            
            }
            .total-price{
                font-size:0.8em;
            }
            
                
            }


          

            /* **************************** *\
                    #MEDIA  MAX-360PX 
            \* **************************** */

            
@media (max-width:360px){
                
            /* cart items  */

  
    .cart{
        width:70vw;
       padding:5px;
    
    }
#cart-close{
    font-size:2.5em;
    top:12px;
}
  
  /* end cart items  */
  

.keyboard-img_box{
    margin:2vw;
    margin-bottom:4vh;
}

            /* footer */

#footerhead{
    margin-bottom: 4vh;
}

#email{
    padding:0.8em;
}

.joinbtn{
    padding: 0.6em;
    width:3.2em;
}
            /* End footer */

            /* icons */

#icon1,#icon2,#icon3,#icon4{
    margin: 30px 14px 0px 14px;
}

}
    


                          